<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Add Spares</strong>
            <small> New</small>
            <div class="pull-right">
                <button class="btn btn-sm btn-info" style="width:100px" (click)="goBack()"><i class="fa fa-reply"></i></button>
            </div>
          </div>
          <div class="card-body">
  
            <!-- form content -->
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="row">
  
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  Complete and submit the form to create a new Spare
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Code</span>
                          </div>
                          <input type="text" id="code" formControlName="code" name="code" class="form-control">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-diamond"></i></span>
                          </div>
                        </div>
                      </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" id="name" formControlName="name" name="name" class="form-control" required="required">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Measure</span>
                          </div>
                          <input type="text" id="measure" formControlName="measure" name="measure" class="form-control" required="required">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calculator"></i></span>
                          </div>
                        </div>
                      </div>
  
                      <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Model</span>
                            </div>
                            <input type="tel" id="model" formControlName="model" name="model" class="form-control" required="required">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="icon-tag"></i></span>
                            </div>
                          </div>
                        </div>
  
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Make</span>
                              </div>
                              <input type="text" id="make" formControlName="make" name="make" class="form-control" required="required">
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                              </div>
                            </div>
                          </div>
  
                      <!-- <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Category</span>
                            </div>
                            <ng-select id="city" formControlName="category" name="category" 
                              [allowClear]="true" [multiple]="false"
                              [items]="cities" [active]="active_city"
                              (data)="refreshValue($event)"
                              (selected)="selected($event)"
                              (removed)="removed($event)"
                              (typed)="typed($event)"
                              placeholder="No city selected">
                            </ng-select>
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-map-o"></i></span>
                            </div>
                          </div>
                        </div>
  
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">County</span>
                            </div>
                            <ng-select id="county" formControlName="county" name="county" 
                              [allowClear]="true" [multiple]="false"
                              [items]="counties" [active]="active_county"
                              (data)="refreshValue($event)"
                              (selected)="selected($event)"
                              (removed)="removed($event)"
                              (typed)="typed($event)"
                              placeholder="No county selected">
                            </ng-select>
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                            </div>
                          </div>
                        </div> -->
  
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Category</span>
                              </div>
                              <input type="text" id="category" formControlName="category" name="category" class="form-control" required="required">
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Description</span>
                                </div>
                                <input type="text" id="description" formControlName="description" name="description" class="form-control" required="required">
                                <div class="input-group-append">
                                  <span class="input-group-text"><i class="icon-book-open"></i></span>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">parent_spare_id</span>
                                  </div>
                                  <input type="text" id="parent_spare_id" formControlName="parent_spare_id" name="parent_spare_id" class="form-control" required="required">
                                  <div class="input-group-append">
                                    <span class="input-group-text"><i class="icon-pin"></i></span>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Split gain</span>
                                    </div>
                                    <input type="number" id="split_gain" formControlName="split_gain" name="split_gain" class="form-control" required="required">
                                    <div class="input-group-append">
                                      <span class="input-group-text"><i class="icon-bubbles"></i></span>
                                    </div>
                                  </div>
                                </div>
  
                </div>
              </div>
            </div>
  
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
  
  
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Splittable</span>
                          </div>
                          <select type="text" id="splittable" formControlName="splittable" name="splittable" class="form-control" required="required">
                              <option value="true">TRUE</option>
                              <option value="false">FALSE</option>
                            </select>
                            <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Depletion</span>
                          </div>
                          <input type="number" id="depletion" formControlName="depletion" name="depletion" class="form-control" required="required">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Reorder level</span>
                              </div>
                              <input type="number" id="reorder_level" formControlName="reorder_level" name="reorder_level" class="form-control" required="required">
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="icon-chart"></i></span>
                              </div>
                            </div>
                          </div>
  
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Reorder quantity</span>
                        </div>
                        <input type="number" id="reorder_quantity" formControlName="reorder_quantity" name="reorder_quantity" class="form-control" required="required">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="icon-layers"></i></span>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Unit price</span>
                          </div>
                          <input type="number" id="unit_price" formControlName="unit_price" name="unit_price" class="form-control" required="required">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-money"></i></span>
                          </div>
                        </div>
                      </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Supplier ID</span>
                          </div>
                          <input type="text" id="supplier_id" formControlName="supplier_id" name="supplier_id" class="form-control"  required="required">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                          </div>
                        </div>
                      </div>
  
                      <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Is usability</span>
                            </div>
                          <select type="text" id="is_usability" formControlName="is_usability" name="is_usability" class="form-control" required="required">
                            <option value="true">TRUE</option>
                            <option value="false">FALSE</option>
                          </select>
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-book"></i></span>
                            </div>
                          </div>
                        </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Photo</span>
                          </div>
                          <input type="file" id="photo" formControlName="photo" name="photo" class="form-control" required="required" >
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                    <div class="form-group form-actions pull-right">
                      <button type="submit" class="btn btn-md btn-primary">Submit</button>
                    </div>
                </div>
              </div>
            </div>
  
          </div><!--/.row-->
        </form>
            <!--/. form content -->
  
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
  